* {
    display:block;
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}


body{
    background-color: dimgray; 
}

h1{
    font:bold;
    text-align: center;
    color:fuchsia;
}

h2{
    color: fuchsia;
    border-radius: 15px;
    border-style: solid;
    border-color: lightgrey;
}

#intro  {
    color:aliceblue;
    text-align: center;
    padding: 10px;
    flex-wrap: wrap;
}

#header {
    color:fuchsia;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    border: silver;
    border-radius: 10px;
    position: relative;
    margin-top: -30px;
    border-style: groove;
}

.pre-text {
    color: aliceblue;
    background-color: fuchsia;

}

.box-discriptions {
    color: fuchsia;
    font-weight: bold;
    position: relative;
    
}

.box {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 15px;
    border: silver solid 5px;
    border-radius: 10px;
    border-style: dashed;
    
}

section {
    display:block;
}